<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ view.kwargs.username }}</title>
    </head>
    <body>    
        <h1 class="mb-3">Books by {{ view.kwargs.username }}</h1>
                <ul>
                {% for book in books %}
                    <li><a href="#"><b> {{ book.bookName }}</b></a></li>
                    <p>By: {{ book.authorName }} </p>
                    <img src="{{ book.cover.url }}">
                {% endfor %}
                </ul>
    </body>
</html>