<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ object.bookName }}</title>
    </head>
    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <style>
                h1 {text-align: center;}
                h4 {text-align: center;}
                </style>
              <h1 class="display-4">{{ object.bookName }}</h1>
              <h4>By: <a href="{% url 'author-browsing' books.authorName %}">{{ object.authorName }}</a></h4>
            </div>
          </div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="media">
                        <a class="lightbox" href="#dog"><img src="{{ object.cover.url }}" class="align-self-start mr-3" alt="..."></a>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="media-body">
                        <p><b>Price: </b>${{ object.bookPrice }}</p>
                        <p><b>Book Rating: </b> {{ object.bookRating }}</p>
                        <p><b>Genre:</b> {{ object.genre }}</p>
                        <p><b>Book Summary:</b> {{ object.bookSummary }}</p>
                        <p><b>Publisher Name:</b> {{ object.publisherName }}</p>
                        <p><b>Publisher Date:</b> {{ object.publisherDate}}</p>
                        <p><b>Author Bio:</b> {{ object.authorName.authorBio }}</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <!-- <link rel="stylesheet" type="text/ css" href="../styles/book_detail.css">  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
