<!-- This will inherit from the __base.html located in this directory -->
<!-- The navbar will be located here -->
{% extends "storePage/partials/__base.html" %}
<!-- This is the main header and footer that all html will fallow by -->
{% load crispy_forms_tags %}
<!-- This will make the form look better, less code. -->
{% block body %}
<!-- https://api.jquery.com/click/ -->
<!-- https://tutorial-extensions.djangogirls.org/en/homework_create_more_models/ -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <meta charset="UTF-8">
        <title>{{ object.bookName }}</title>
    </head>
    <body>
        <style>
                h1,h3, h4, h5, h6 {color: black;}
                h1 {text-align: center;}
                h4 {text-align: center;}
                .image {width: 400px;transition: width .3s ease;}
                .image:hover {cursor: pointer;}
                .image.enlarged {width: 540px;}
        </style>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">{{ object.bookName }}</h1>
              <h4>By: <a href="{% url 'author-browsing' books.authorName %}">{{ object.authorName }}</a></h4>
            </div>
          </div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="media">
                        <img class="image" src="{{ object.cover.url }}">
                        <script>
                                $('.image').click(function() {
                                    $(this).toggleClass('enlarged');
                                });
                        </script>
                    </div>
                        <p><b>Book Rating: </b> {{ object.bookRating }}</p>
                        <p><b>Genre:</b> {{ object.genre }}</p>
                        <p><b>Publisher Name:</b> {{ object.publisherName }}</p>
                        <p><b>Publisher Date:</b> {{ object.publisherDate}}</p>
                </div>
                <div class="col-sm">
                    <div class="media-body">
                        <p><b>Price: </b>${{ object.bookPrice }}</p>
                        <p><b>Book Summary:</b> {{ object.bookSummary }}</p>
                        <p><b>Author Bio:</b> {{ object.authorName.authorBio }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                        <div>
                        {% if user.is_authenticated %}
                                <li>
                                    <div class="alert alert-warning"> Please purchase this book in order to review it. </div>
                                    <a href="{% url 'book-details-purchased' books.id %}"> Click here as a purchaser</a>
                                </li>
                        {% else %}
                            <li>
                                <div class="alert alert-warning"> You must be logged in to review a book. </div>
                            </li>
                        {% endif %}
                        <!-- <p class="ave-rating">Average Rating: {{ comment.rating }}</p>
                            {% if average_rating %}
                                <p class="ave-rating">Average Rating: {{ average_rating|floatformat:2 }}</p>
                            {% endif %} -->

                        <!-- THIS WORKS but does not show anon-->
                        <h2>Ratings and Comments:</h2>
                        <div class="card">               
                            <div class="card-body">
                                    {% for comment in object.comments.all %}
                                    <blockquote class="blockquote">
                                        <cite title="Source Title">
                                            {% if comment.anonymous %}
                                                <h6>Anonymous</h6>
                                            {% else %}
                                                <h6>{{ comment.writer|capfirst }}</h6>
                                            {% endif %}
                                                <h6>| {{ comment.date }} </h6></cite>
                                        <h6 class="mb-0"><span class="rating">Rating:</span> {{ comment.rating }} Star(s)</h6>
                                        <h6 class="mb-0">{{ comment.comment }}</h6>
                                    </blockquote>
                                    {% empty %}
                                    <h6>No comments here yet :(</h6>
                                {% endfor %}
                            </div>             
                        </div> 

                        <!-- <div class="card">               
                            <div class="card-body">
                                {% for comment in object.comments.all %}
                                    <h5 class="card-title">{{ comment.writer }}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ comment.date }}</h6>
                                    <h6 class="card-text"> Rating: {{comment.rating }}</h6>
                                    <h6 class="card-text">{{comment.comment|linebreaks}}</h6>
                                    {% empty %}
                                    <h6>No comments here yet :(</h6>
                                {% endfor %}
                            </div>             
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
{% endblock %}
