<!-- This will inherit from the __base.html located in this directory -->
<!-- The navbar will be located here -->

{% extends "storePage/partials/__base.html" %}
<!-- This is the main header and footer that all html will fallow by -->
{% load crispy_forms_tags %}
<!-- This will make the form look better, less code. -->
{% block body %}

<!-- This page will allow the user to log in to their account -->

<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->

<style>
  /* .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
  }

  .rating>span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }

  .rating>span:hover:before,
  .rating>span:hover~span:before {
    content: "\2605";
    position: absolute;
  } */
</style>
<!-- </head> -->
<!-- 
<body> -->
<!-- <div>
  <form action="genre-browse" method="post">
    <h4>Select the Genres you would like to browse:</h4>
    <input type="radio" name="genre" value="Fantasy"/>Fantasy
    <input type="radio" name="genre" value="Romance"/>Romance
    <input type="radio" name="genre" value="Sci-Fi"/>Sci-Fi<br>
    <input type="radio" name="genre" value="Fiction"/>Fiction
    <input type="radio" name="genre" value="Non-Fiction"/>Non-Fiction
    <input type="radio" name="genre" value="Mystery"/>Mystery<br>
    <input type="submit" value="Browse">
  </form>
</div> -->

<table style="width:100%">
  <tr>
    <th style="width:10%"><H5>Browse By Top Sellers: </H5></th>
    <th style="width:20%"><a href="{% url 'search:browse-top' %}"><H3>Top Sellers</H3></a></th>
  </tr>
  <tr>
    <th style="width:10%"><H5>Browse By Genre: </H5></th>
    <th style="width:20%"><a href="{% url 'search:browse-fantasy' %}">Fantasy</a></th>
    <th style="width:10%"><a href="{% url 'search:browse-fiction' %}">Fiction</a></th>
    <th style="width:10%"><a href="{% url 'search:browse-nonfiction' %}">Non-Fiction</a></th>
    <th style="width:10%"><a href="{% url 'search:browse-mystery' %}">Mystery</a></th>
    <th style="width:10%"><a href="{% url 'search:browse-romance' %}">Romance</a></th>
    <th style="width:10%"><a href="{% url 'search:browse-scifi' %}">Science-Fiction</a></th>
  </tr>
  <tr>
    <th style="width:10%">Cover</th>
    <th style="width:20%"><a href="{% url 'search:title' %}">Title</a></th>
    <th style="width:10%"><a href="{% url 'search:author' %}">Author</a></th>
    <th style="width:10%"><a href="{% url 'search:genre' %}">Genre</a></th>
    <th style="width:10%">Units Sold</th>
    <th style="width:10%">Rating
      <div class="rating">
        <span><a href="{% url 'search:rating1' %}">☆</a></span>
        <span><a href="{% url 'search:rating2' %}">☆</a></span>
        <span><a href="{% url 'search:rating3' %}">☆</a></span>
        <span><a href="{% url 'search:rating4' %}">☆</a></span>
        <span><a href="{% url 'search:rating5' %}">☆</a></span>
      </div>
    </th>
    <th style="width:10%"><a href="{% url 'search:price' %}">Price</a></th>
    <th style="width:10%"><a href="{% url 'search:date' %}">Release Date</a></th>
    <th style="width:20%">Description</th>
    {% for book in books %}
  </tr>
  <td><img src="{{ book.cover.url }}" width="50px"></td>
  <td><a href="/books/{{book.id}}">{{ book.bookName }}</a></td>
  <td>{{ book.authorName }}</td>
  <td>{{ book.genre }}</td>
  <td>{{ book.bookSales }}</td>
  <td>{{ book.bookRating }}</td>
  <td>{{ book.bookPrice }}</td>
  <td>{{ book.publisherDate }}</td>
  <td>{{ book.bookSummary}}</td>
  </tr>
  {% endfor %}
</table>

{% if books.has_other_pages %}
<ul class="pagination">
  {% if books.has_previous %}
  <li><a href="?page={{ books.previous_page_number }}">&laquo;</a></li>
  {% else %}
  <li class="disabled"><span>&laquo;</span></li>
  {% endif %}
  {% for i in books.paginator.page_range %}
  {% if books.number == i %}
  <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
  {% else %}
  <li><a href="?page={{ i }}">{{ i }}</a></li>
  {% endif %}
  {% endfor %}
  {% if books.has_next %}
  <li><a href="?page={{ books.next_page_number }}">&raquo;</a></li>
  {% else %}
  <li class="disabled"><span>&raquo;</span></li>
  {% endif %}
</ul>
{% endif %}
<!-- </body> -->
{% endblock %}