<!-- This will inherit from the __base.html located in this directory -->
<!-- The navbar will be located here -->

{% extends "storePage/partials/__base.html" %}
<!-- This is the main header and footer that all html will fallow by -->
{% load crispy_forms_tags %}
<!-- This will make the form look better, less code. -->
{% block body %}

<!-- This page will allow the user to log in to their account -->

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    input[type=text] {
        width: 130px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url('searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

    input[type=text]:focus {
        width: 100%;
    }
</style>
</head>

<body>

    <form>
        <input type="text" name="search" placeholder="Search..">
    </form>
    <table style="width:100%">
        <tr>
            <th style="width:10%">Cover</th>
            <th style="width:20%"><a href="{% url 'search:title' %}">Title</a></th>
            <th style="width:10%"><a href="{% url 'search:author' %}">Author</a></th>
            <th style="width:10%">Genre</th>
            <th style="width:10%">Units Sold</th>
            <th style="width:10%"><a href="{% url 'search:rating' %}">Rating</a></th>
            <th style="width:10%"><a href="{% url 'search:price' %}">Price</a></th>
            <th style="width:10%"><a href="{% url 'search:date' %}">Release Date</a></th>
            <th style="width:20%">Description</th>
        {% for book in books %}
            </tr>
                <td>{{ book.cover }}</td>
                <td><a href="">{{ book.title }}</a></td>
                <td>{{ book.author }}</td>
                <td>{{ book.genre }}</td>
                <td>{{ book.num_sales }}</td>
                <td>{{ book.rating }}</td>
                <td>{{ book.price }}</td>
                <td>{{ book.release_date }}</td>
                <td>{{ book.description }}</td>
            </tr>
        {% endfor %}
    </table>

    {% if books.has_other_pages %}
  <ul class="pagination">
    {% if books.has_previous %}
      <li><a href="?page={{ books.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in books.paginator.page_range %}
      {% if books.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if books.has_next %}
      <li><a href="?page={{ books.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</body>
{% endblock %}