<!--Here I got the base from user base because all of these new pages will be directly under the 4 buttons-->
{% extends "users/partials/_base.html" %}
{% load crispy_forms_tags %}
<!-- This will make the form look better, less code. -->
{% block settingsPageInfo %}

<!-- This form is to add a new cred card to the user once the tab is clicked to add a new credit card -->
<div class="card bg-dark text-primary">

    <div class="card-body" >
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-success">Add a new Credit Card</h3>
                <hr>
            </div>
        </div>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{userCreditCardForm |crispy}}
            <div class="form-group">
                 <!--Click button to add a new address to the user-->
                <button class="btn btn-outline-success" type="success">Add Credit Card</button>
            </div>
        </form>

    </div>
</div>

{% endblock %}