<!-- https://api.jquery.com/click/ -->
<!-- https://tutorial-extensions.djangogirls.org/en/homework_create_more_models/ -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <meta charset="UTF-8">
        <title>{{ object.bookName }}</title>
    </head>
    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <style>
                h1 {text-align: center;}
                h4 {text-align: center;}
                .image {width: 400px;transition: width .3s ease;}
                .image:hover {cursor: pointer;}
                .image.enlarged {width: 540px;}
                </style>
              <h1 class="display-4">{{ object.bookName }}</h1>
              <h4>By: <a href="{% url 'author-browsing' books.authorName %}">{{ object.authorName }}</a></h4>
            </div>
          </div>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="media">
                        <img class="image" src="{{ object.cover.url }}">
                        <script>
                                $('.image').click(function() {
                                    $(this).toggleClass('enlarged');
                                });
                        </script>
                    </div>
                        <p><b>Book Rating: </b> {{ object.bookRating }}</p>
                        <p><b>Genre:</b> {{ object.genre }}</p>
                        <p><b>Publisher Name:</b> {{ object.publisherName }}</p>
                        <p><b>Publisher Date:</b> {{ object.publisherDate}}</p>
                </div>
                <div class="col-sm">
                    <div class="media-body">
                        <p><b>Price: </b>${{ object.bookPrice }}</p>
                        <p><b>Book Summary:</b> {{ object.bookSummary }}</p>
                        <p><b>Author Bio:</b> {{ object.authorName.authorBio }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                        <p><b>Reviews for {{ object.bookName }}</b></p>
                        <div>
                        {% if user.is_authenticated %}
                            {% if purchased %}
                                {% if reviewed_already %}
                                    <li>
                                        <div class="alert alert-warning"> You have already reviewed this book. </div>
                                    </li>
                                {%  else %}
                                    {% if reviews.count == 0 %}
                                        <p>Be the first to review this book!</p>
                                    {% elif this_user_review|length == 0 %}
                                        <p>Create a review!</p>
                                    {% endif %}

                                    <form method="post" class="review-form-group">
                                        <p>Write a review no more than 800 characters long.</p>
                                        {% csrf_token %}
                                        {{ review_form.as_p}}
                                        <input type="submit" value="Review" class="btn btn-outline-success" id="review-btn">
                                    </form>
                                {% endif %}
                            {% else %}
                                <li>
                                    <div class="alert alert-warning"> Please purchase this book in order to review it. </div>
                                    <a href="{% url 'book-details-purchased' books.id %}"> Click here as a purchaser</a>
                                </li>
                            {% endif %}
                        {% else %}
                            <li>
                                <div class="alert alert-warning"> You must be logged in to review a book. </div>
                            </li>
                        {% endif %}

                        <div class="main-content-section">
                            {% if average_rating %}
                                <p class="ave-rating">Average Rating: {{ average_rating|floatformat:2 }}</p>
                            {% endif %}

                            <h2>{{ reviews.count }} Review{{ reviews|pluralize }}</h2>
                            {% if this_user_review %}
                                <h3>Your review:</h3>
                                {% for this_review in this_user_review %}
                                    <blockquote class="blockquote">
                                        <cite title="Source Title">
                                            <img class="rounded-circle account-img" src="{{ this_review.author.profile.profilePic.url }}" width="50" height="50">
                                            {{ this_review.author|capfirst }} | {{ this_review.date_posted }}</cite>
                                        <p class="mb-0"><span class="rating">Rating:</span> {{ this_review.rating }} Star(s)</p>
                                        <p class="mb-0">{{ this_review.content }}</p>
                                    </blockquote>
                                {% endfor %}
                            {% endif %}
                        </div>

                        {% if this_user_review and reviews_minus_this_user.count > 0 %}
                            <h3>Other's reviews:</h3>
                        {% endif %}

                        {% for review in reviews_minus_this_user %}
                            <blockquote class="blockquote">
                                <cite title="Source Title">
                                    {% if review.anonymous %}
                                    <img class="rounded-circle account-img" src="/static/images/anon.png" width="50" height="50">
                                        Anonymous
                                    {% else %}
                                        <img class="rounded-circle account-img" src="{{ review.author.profile.profilePic.url }}" width="50" height="50">
                                        {{ review.author|capfirst }}
                                    {% endif %}
                                     | {{ review.date_posted }}</cite>
                                <p class="mb-0"><span class="rating">Rating:</span> {{ review.rating }} Star(s)</p>
                                <p class="mb-0">{{ review.content }}</p>
                            </blockquote>
                        {% endfor %}


                        <div class="card">               
                            <div class="card-body">
                                {% for comment in object.comments.all %}
                                    <h5 class="card-title">{{ comment.userName }}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{ comment.datePosted }}</h6>
                                    <p class="card-text">{{comment.bookComment|linebreaks}}</p>
                                    {% empty %}
                                    <p>No comments here yet :(</p>
                                {% endfor %}
                            </div>             
                        </div>
                        </div>
                </div>
                <!-- <div class="card">
                        <div class="card-header">
                          Quote
                        </div>
                        <div class="card-body">
                          <blockquote class="blockquote mb-0">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                          </blockquote>
                        </div>
                      </div> -->
            </div>
        </div>
    </body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
