<!-- This will inherit from the __base.html located in this directory -->
<!-- The navbar will be located here -->
{% extends "storePage/partials/__base.html" %}
<!-- This is the main header and footer that all html will fallow by -->
{% load crispy_forms_tags %}
<!-- This will make the form look better, less code. -->
{% block body %}

<!-- <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Django GeekText</title>
    </head>
    <body> -->
<div>
    {% if books %}
        <ul>
            {% for book in books %}
           <li><a href = '/books/{{book.id}}'><b>{{book.bookName}}</b></a></li>
           <p>By: {{ book.authorName }}</p>
           <img src="{{ book.cover.url }}">
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no books to be displayed</p>
    {% endif %}
</div>
{% endblock %}
<!-- 
    </body> -->
<!-- </html> -->