<!doctype html>
<html>
<head>
<style>
<h2>Search Details</h2>
table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}
</style>
</head>

<body>

    <h2>GeekText Browsing Table</h2>

    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
        </tr>
        <tr>
            <td>Harry Potter</td>
            <td>J.K. Rowling</td>
            <td>Fiction</td>
        </tr>
        <tr>
            <td>The Communist Manifesto</td>
            <td>Karl Marx</td>
            <td>Politics</td>
        </tr>
        <tr>
            <td>The Wealth of Nations</td>
            <td>Adam Smith</td>
            <td>Fiction</td>
        </tr>
        <!-- <tr>
            <td>Island Trading</td>
            <td>Helen Bennett</td>
            <td>Nonfiction</td>
        </tr>
        <tr>
            <td>For Whom The Bell Tolls</td>
            <td>Earnest Hemmingway</td>
            <td>Fiction</td>
        </tr>
        <tr>
            <td>The Hitchhiker's Guide to the Galaxy</td>
            <td>Douglas Adams</td>
            <td>Sci-Fi</td> -->
        </tr>
    </table>

</table>

</body>
</html>


<!-- <table>
    {% for Book in page1 %}
    <tr>
        <td><strong>{{ Book.title }}</strong></td>
        <td>{{ Book.author }}</td>
    </tr>
    {% empty %}
    <tr>
        <td><strong>No Results</strong></td>
    </tr>
    {% endfor %}
    <table>
        <caption>Monthly savings</caption>
        <tr>
            <th>Month</th>
            <th>Savings</th>
        </tr>
        <tr>
            <td>January</td>
            <td>$100</td>
        </tr>
        <tr>
            <td>February</td>
            <td>$50</td>
        </tr>
    </table>
</table> -->